@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Iso&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}
.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  border: 10px double rgb(134, 93, 93);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 0 auto 2% auto;
  justify-content: space-around;
  align-items: center;
  padding: 3% 0 4% 0;
}
.score {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  font-weight: bolder;
  color: magenta;
}

.title {
  font-family: "Rubik Iso", cursive;
  font-size: 250%;
  font-weight: bolder;
  color: rgb(226, 44, 96);
}
.lives {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  font-weight: bolder;
  color: magenta;
}
.main {
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  display: grid;
  /* grid-template-columns: repeat();
  grid-template-rows: repeat(auto-fill); */
  background-color: rgb(184, 185, 141);
  border: 10px double rgb(134, 93, 93);
  border-radius: 10px;
  padding: 2px 5px 2px 3px;
}
.bomb {
  width:3vh;
  height:3vh;
  display: flex;
  border-radius: 50%;
  background-color: rgb(1, 1, 1);
  text-align: center;
font-size: 2vh;

  justify-content: center;
  color: rgb(184, 185, 141);

}
.cell {
  background-color: rgb(184, 185, 141);
}
.me {
  width:3vh;
  height:3vh;
  /* display: flex; */
  background-color: rgb(184, 185, 141);
font-size: 2.5vh;

  /* align-self: center;
  justify-self: center; */
  border-radius: 50%;
  color: black;
  outline: none; /*removes on focus ring */
}
.empty{
  width:3vh;
  height:3vh;
  
margin:2px;
  text-align: center;
  border-radius: 5px;
  color: rgb(184, 185, 141);
}
.x{
  width:3vh;
  height:3vh;
  font-family: "zx81";
  font-size: 2.5vh;
  display: flex;
border-radius: 8px;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding:7% 0% 7% 15%;
  background-color: rgb(50, 49, 49);
  color:rgb(224, 204, 204);
}
.skull{
  width:3vh;
  height:3vh;
  font-size: 2.5vh;
  display: flex;
border-radius: 8px;
  align-items: center;
  align-self: center;
  justify-content: center;
  background-color: rgb(50, 49, 49);
  color:rgb(224, 204, 204);
}

.guard ,.tnt{
  width:3vh;
  height:3vh;
  font-size: 2.5vh;
  display: flex;
  align-self: center;
  justify-self: center;
  color:black;
}
.exp{
  width:3vh;
  height:3vh;
  font-size: 2.55vh;
  display: flex;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 425px) {
  #main {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(30, 3% [col-start]);
    grid-template-rows: repeat(30, 3% [row-start]);
  }
  .title {
    font-size: 120%;
    font-weight: bolder;
  }
  .score,
  .lives {
    font-size: 100%;
  }
  .bomb,
  .guard,
  .me {
    font-size: x-small;
  }
  .tnt {
    font-size: xx-small;
    padding: 0 0 1% 0;
    border-radius: 1px;
  }
}
@media screen and (max-height: 800px) {
  #bomb,
  #guard,
  #me {
    font-size: 1fr;
  }
  .tnt {
    font-size: x-small;
  }
}
