#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#main{
  height:90vh;
  display:grid;
  grid-template-columns: repeat(30, 3vh [col-start]);
  grid-template-rows: repeat(30, 3vh [row-start]);
  background-color: aliceblue;
  border:10px solid red;
}
#bomb{
  border-radius:50%;
  background-color: rgb(1, 1, 1);
  font-size: larger;
}
.tnt{
  background-color: rgb(62, 56, 56);
  font-size: larger;
}
#me{
  background-color: brown;
  font-size: larger;
}
#guard{
  background-color: blue;
  font-size: larger;
}
@media screen and (max-width:425px) {
  #main{
    margin:0 auto;
    padding:0;
    width:90vw;
    height:90vw;
  display:grid;
    grid-template-columns: repeat(30, 3vw [col-start]);
  grid-template-rows: repeat(30, 3vw [row-start]);
}
}
