@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Permanent+Marker&family=Pixelify+Sans&display=swap');
@font-face {
    font-family: 'zx81';
    src: local('zx81'),url('../src/assets/fonts/zx81.ttf') format('truetype');
}
.zx{
    font-family: "zx81";
}
.settingsButtons{

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:50%;
    margin:0 auto;
}
.settingsPage{

    display:flex;
    flex-direction: column;
    justify-items: flex-start;
    height:80vh;
    flex-wrap: wrap;
    
}
.sliders{
    margin:0 20px 30px 0;
    border:3px solid rgb(154, 87, 87);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(154, 87, 87);
    width:40vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.graphic{
    font-family:"zx81";
    font-size: 40px;

    color:rgb(224, 204, 204);
}
.me-original{
    width:3vh;
  height:3vh;
    font-family:"zx81";
    font-size: 30px;
    outline: none; /*removes on focus ring */
    color:black;
    background-color: rgb(184, 185, 141);
}